.commit-list {
    padding: 0;
    list-style: none;
    width: 80%;
    margin: 3% auto 3% auto;
    border: solid 1px;
    border-radius: 8px;
}

.commit-item {
  padding: 10px;
  border-bottom: 1px solid;
}

.commit-item:hover{
  background-color: lightgray;
}

.commit-item:last-child{
  border-bottom: unset;
}

.commit-message {
  font-size: 12px;
  font-weight: 600;
  color: #0366d6;
  text-decoration: none;
}

.commit-message:hover {
  text-decoration: underline;
}

.commit-meta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #586069;
  padding-top: 10px;
}

.commit-author {
  font-weight: bold;
  margin-right: 10px;
  text-decoration: none;
}

.commit-author:visited {
  color: inherit;
}

.commit-date {
  padding: 0 30px;
}

.commit-avatar {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 16px;
}